<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="comentarios-element">
  <template>
    <style>
      :host {
        display: block;
        background-color: #f1bc31;
        font-family: 'Source Sans Pro', sans-serif;
        padding-left: 5%;
      }

      button {
        background-color: #e25822;
        margin-left: 81%;
        border-radius: 5px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15px;
        margin-bottom: 5%;
      }

      input {
        border-radius: 5px;
      }

      #login {
        background-color: #e25822;
        font-family: 'Alegreya', serif;
      }

      #prenda {
        margin-left: 20px;
      }
      #talla {
        margin-left: 35px;
      }
      #costo {
        margin-left: 28px;
      }
    </style>
    <h2 id="login">Peticiónes JSON</h2>
    <form>
      <p>
        <label for="comentario1">Comentario 1</label><br>
        <textarea name="comentario1" id="comentario1" rows="7" cols="80">Respuesta JSON</textarea>
      </p>
      <p>
        <label for="comentario2">Comentario 2</label><br>
        <textarea name="comentario2" id="comentario2" rows="7" cols="80">Respuesta JSON</textarea>
      </p>
      <p>
        <label for="comentario3">Comentario 3</label><br>
        <textarea name="comentario3" id="comentario3" rows="7" cols="80">Respuesta JSON</textarea>
      </p>
      <button type="button" on-click="solicitar" id="btnData">Solicitar</button>
    </form>
  </template>

  <script>
    /**
     * `comentarios-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComentariosElement extends Polymer.Element {
      static get is() { return 'comentarios-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'comentarios-element'
          }
        };
      }

      solicitar() {
        var req1 = new XMLHttpRequest();
        req1.open('GET', 'https://jsonplaceholder.typicode.com/comments', false);
        req1.send(null);
        if (req1.status == 200) {
          console.log('Respuesta correcta');
          var objeto1 = req1.responseText;
          var objeto2 = JSON.parse(objeto1);
          var objeto3 = JSON.stringify(objeto2[0]);
          let elemento1 = this.shadowRoot.getElementById('comentario1');
          elemento1.textContent = objeto3;
          var objeto4 = req1.responseText;
          var objeto5 = JSON.parse(objeto4);
          var objeto6 = JSON.stringify(objeto5[1]);
          let elemento2 = this.shadowRoot.getElementById('comentario2');
          elemento2.textContent = objeto6;
          var objeto7 = req1.responseText;
          var objeto8 = JSON.parse(objeto7);
          var objeto9 = JSON.stringify(objeto8[2]);
          let elemento3 = this.shadowRoot.getElementById('comentario3');
          elemento3.textContent = objeto9;
        } else {
          console.log('la petición fallo!!');
        }
      }

    }

    window.customElements.define(ComentariosElement.is, ComentariosElement);
  </script>
</dom-module>